# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.DS_Store

# React Router
.react-router

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage
apps/web/cypress/screenshots/**
apps/web/cypress/videos/**

# build
.next
build
dist
tsconfig.tsbuildinfo
build-analysis.txt

# misc
.DS_Store
*.pem
.turbo

# Logging
logs

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*
!.env.example

# NX Workspaces
.nx/cache
.nx/workspace-data
**/.claude/settings.local.json
