.dialog {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0);
	backdrop-filter: blur(4px);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 16px;
	overflow: hidden;
	transition: background-color 0.2s ease-in-out;
}

@media screen and (max-width: 400px) {
	.dialog {
		margin: 0;
	}
}
