#! When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# Prisma
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/aidea

# Next Auth
# Generate secret: node -e "console.log(require('crypto').randomBytes(26).toString('base64'));"
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://127.0.0.1:5000

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
