@import "@radix-ui/colors/violet-alpha.css";

.wrap {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 0 24px;

}

.appName {
    color: var(--violet-11);
    font-size: 24px;
    font-weight: 600;
}

.subtitle {
    color: var(--violet-11);
    font-style: italic;
    font-size: 16px;
}
