.to-dos ul {
  list-style: none;
}
.to-dos li {
  padding: 0.5rem 1rem;
}
.to-dos li input[type='checkbox'] {
  width: 10%;
}
.finished {
  text-decoration: line-through;
}
.to-do-form {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-top: 1px solid mediumspringgreen;
}
