.header {
  @apply bg-blue-300;
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 0 0 40px;
  padding: 24px;
  /* Blur background */
  backdrop-filter: blur(12px);
  background-color: rgba(247, 247, 247, 0.8);
}

.appName {
  font-weight: 700;
}

.link {
  text-decoration: none;
}
