:root {
  --auth-wrap-size-small: 350px;
  --auth-wrap-size-medium: 450px;
}

.wrap {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  height: var(--auth-wrap-size-small);
  width: var(--auth-wrap-size-small);
  max-width: var(--auth-wrap-size-small);

  @media screen and (width >= 768px) {
    height: var(--auth-wrap-size-medium);
    width: var(--auth-wrap-size-medium);
    max-width: var(--auth-wrap-size-medium);
  }
}
